@model What_The_Hike.HikeLog_UserHikeID
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@using (Html.BeginForm("Create", "Hike", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<h2>Log a new hike.</h2>
                <hr />
                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                                                <div class="form-group">
                                                                    <label for="hikeID" class="col-md-2 control-label">Select A Hike Location</label>
                                                                    <div class="col-md-10">
                                                                        <select name="hikeID" id="hikeID" class="form-control">
                                                                            @{foreach (var item in Model.Hike)
                                                                                {
                                                                <option value="@item.hikeID">
                                                                    @item.name
                                                                </option> } }
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="userID" class="col-md-2 control-label">Select A User</label>
                                                                                    <div class="col-md-10">
                                                                                        <select name="userID" id="userID" class="form-control">

                                                                                            @{ foreach (var item in Model.User)
                                                                                                {
                                                                                <option value="@item.userID">
                                                                                    @item.name @item.surname
                                                                                </option> } }
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                                <button class="btn btn-primary" type="submit">Submit</button>}